body {
  font-family: 'Open Sans', sans-serif;
  font-weight: light;
}

section.header {
  height: 80vh;
  background-image: url("../header_bg.jpg");
  background-repeat: no-repeat;
}

section.header h1{
  font-weight: extrs-bold;
  font-size: 24px;
}

section.header p{
  font-weight: semi-bold;
  font-size: 24px;
}
